// colour
$black: #0c0c0f;
$white: #FCEAF9;
$background: #3c3c3f;
$colour: $white;
$colourHover: $white;

// size
$space: 8px;

// style
$border: 1px solid $black;

// breakpoints
$mobile: 670px;
$tabletPortrait: 768px;
$tablet: 1024px;
$siteWidth: 1160px;

// index
$indexBackground: 0;
$indexCanvasWrapper: 1;
$indexWrapper: 2;
$indexCard: 3;

// animation
$transition: 0.35s;
$transitionMedium: 0.5s;
$transitionSlow: 1s;
