.contact {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $indexCard;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: opacity $transition, transform $transition;
  //transform: translate(-$space * 2, 0);
  opacity: 0;

  .contact__inner {
    perspective: 500px;
    width: 300px;
    height: 200px;
    position: relative;

    .contact__card {
      width: 100%;
      height: 100%;
      background: $white;
      transform: rotateX(90deg);
      transition: transform $transition;

      .contact__card-inner {
        width: 100%;
        height: 100%;
        color: $black;
        font-weight: bold;
        font-style: italic;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .contact__card-close {
          @include padding(1, 0.875);
          line-height: 1;
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;
        }
      }
    }
  }

  &.active {
    opacity: 1;
    transform: translate(0, 0);

    .contact__card {
      transform: rotateY(0deg);
    }

    .contact__inner {
      pointer-events: all;
    }
  }
}
