::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

::-webkit-scrollbar-button {
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-track-piece {}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-corner {}

::-webkit-resizer {}
